
#main-banner {
  .wrapper {
    min-height: 320px;
    background-color: $green;
    text-align: center;
  }

  @include desktop {
    .btn {
      padding-top: 10px;
      border-radius: 8px;
      border: none;
    }

    .btn-daftar {
      margin-top: 180px;
      min-width: 150px;
      height: 52px;
      background-color: $orange;
      color: white;
      font-size: 20px;

      box-shadow: 0px 52px 16px 30px rgba(0,0,0,.25) inset;
    }
  }
}

#main-features {
  .wrapper {
    text-align: center;
    min-height: 316px;
    padding-top: 20px;

    .title-features {
      margin-bottom: 50px;
    }

    .fa {
      color: $orange;
    }

    ul {
      padding-left: 0px;
      list-style: none;

      li {
        display: inline-block;;
        margin: 5px 15px;
        min-width: 230px;
        text-align: left;

      }
    }
  }
}

#main-quotation {
  .wrapper {
    min-height: 350px;
    background-color: $gray;
    color: white;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    .quotation-content {
      font-style: italic;
      font-weight: bold;
    }

  }
}

#main-courses {
  .wrapper {
    padding-top: 30px;
    min-height: 715px;
    background-color: $green;
    color: white;

    .course-preview {
      @include desktop {
        padding: 10px 50px;
      }
    }

    .course-thumbnail {
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 260px;
      filter: grayscale(100%);
    }

    .course-title {
      margin-bottom: 30px;
    }

  }
}

#main-quick-register {
  .wrapper {
    text-align: center;
    min-height: 370px;
    padding-top: 40px;

    .title {
      margin-bottom: 60px;
    }

    .form-inputs {
      margin-bottom: 50px;

      @include desktop{
        input {
          margin: 0px 30px;
          min-width: 210px;
          border-radius: 0px;
        }
      }

      .form-group {
        min-height: 70px;
      }

      .form-control {
        border: 1px solid rgba(62, 62, 62, 0.57)
      }
    }
    .form-buttons {
      margin-bottom: 60px;

      .btn {
        padding-top: 4px;
        border-radius: 8px;
        border: none;
      }

      .btn-daftar {
        min-width: 150px;
        height: 52px;
        background-color: $orange;
        color: white;
        font-size: 20px;

        box-shadow: 0px 52px 16px 30px rgba(0,0,0,.25) inset;
      }

    }
  }
}

#main-footer {
  .wrapper {
    margin-bottom: 40px;

    .title {
      margin-bottom: 50px;
    }

    .media-sosial .content {
      padding-left: 40px;
    }

    ul {
      list-style: none;
      padding-left: 0px;
    }

    ul li ul {
      padding-left: 5px;
    }
  }
}

#login {
  .container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
